.App {
  text-align: center;
}

.navbar-container {
  width: 100%;
  background-color: blue;
  padding: 1rem;
  margin-bottom: 1rem;
}

.navbar-container li{
  display: inline;
  margin: 0.5rem;
  cursor: pointer;
}

.products-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.product-card{
  width: 250px;
  margin: 1rem;
  /* display: grid; */
}

.product-card img{
  max-width: 100%;
  height: 350px;
}